<h1 class="app">Angular</h1>
<!-- Template examples -->

<!-- <ps-interpolation></ps-interpolation>
<ps-conditional></ps-conditional>
<ps-list></ps-list> -->
<!-- <ps-children>
  <h2 data-abajo>Soy un hijo</h2>
  <h3 data-arriba>Soy otro hijo</h3>
  <h5 data-arriba>Y yo donde</h5>
</ps-children> -->
<!-- Biding examples -->
<!-- <ps-binding></ps-binding> -->
<!-- <ps-attr></ps-attr> -->
<!-- <ps-input [name]="'foo'" [surname]="'bar'" [foo-bar]="'foo-bar'"></ps-input> -->
<!-- <ps-output (myEvent)="onMyEvent($event)"></ps-output> -->
<!-- <ps-upper></ps-upper> -->
<!-- <ps-directives></ps-directives> -->

<!-- <ps-foo></ps-foo>
<ps-foo></ps-foo> -->
<!-- Exercises -->
<ps-exercises></ps-exercises>
