<!-- <ps-ej11 [(foo)]="value"></ps-ej11> -->
<!-- <ps-ej11 [foo]="value" (fooChange)="value = $event"></ps-ej11> -->
<!-- <div>{{value}}</div> -->

<!-- <div>{{ '1234567890' | mask:4:'*' }}</div> -->
<!-- <div> 1234****** </div> -->
<!-- <div>{{ '1234567890' | mask }}</div> -->
<!-- <div> ########## </div> -->

<!-- <input type="text">
<input type="text" psAutoFocus>
{{ obj!.a}} -->
<!--

  el interrogate para ejecucion
la exclamacion para decirla al compilador que cuando el tipo podria ser nulo no se
preocupe que ya me encargo yo en ejecucion de que no lo sea.
 -->

<!-- <ps-ej14 *ngIf="show" [foo]="value">
  <h2>El content</h2>
</ps-ej14>
<button (click)="show = !show">Hide</button> -->
<!-- <ps-ej15 [foo]="value"></ps-ej15>
<button (click)="value = value + 'z'">Change input</button> -->
<ps-ej16></ps-ej16>
<ps-ej16></ps-ej16>
<ps-ej16></ps-ej16>
<ps-ej16></ps-ej16>
<ps-ej16></ps-ej16>
